<div><input #montext type="text" [(ngModel)]="color"></div>
<div><input #monnum type="number" [(ngModel)]="size"></div>
<div>
    <select name="fonts" id="font-select" [(ngModel)]="font">
    
        <option value="">--Please choose an option--</option>
        <option value="Arial">Arial</option>
        <option value="Times new roman">Times new Roman</option>
        <option value="Verdana">Verdana</option>
        
    </select></div>
<div><p [ngStyle]="{
    color:color,
    fontSize : size + 'px',
    fontFamily : font

}">Hello world!!!</p></div>



